
@{
    ViewBag.Title = "Home page view";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <h1>Hello my dear friend. </h1>
    <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/deer-1517334091.jpg?crop=1.00xw:0.755xh;0,0.125xh&resize=5760:*" />
</div>
