@{
    Layout = "../Shared/_Layout.cshtml";
}
@using Newtonsoft.Json
@model CrossfitDiary.Web.ViewModels.HomeViewModel


<div class="home-container" data-bind="visible:true" style="display: none">
@*    <div class="row">*@
@*        <div class="col-md-offset-3 col-md-5 done-item">*@
@*            <h2>Menu here</h2>*@
@*        </div>*@
@*    </div>*@
    <div class="row">
        <div class="container activities-calendar">
            <div class="row">
                <div data-bind="foreach: allWorkouts, visible:true" style="display: none">
                    <div class="col-md-offset-3 col-md-5 done-item">
                        <div class="item-header clearfix">
                            <div class="pull-left">
                                <span class="user-icon">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </span>
                                <span data-bind="text:workouterName"></span>
                            </div>
                            <!-- ko if:canBeRemovedByCurrentUser-->
                            <div class="pull-right remove-workout" title="Remove your workout">
                                <a class="pointer">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </div>
                            <!-- /ko-->
                            <div class="pull-right" data-bind="text:displayDate"></div>
                        </div>
                        <div class="item-body clearfix">
                            <div>
                                <span class="workout-title" data-bind="text: selectedWorkoutName"></span>
                                <span data-bind="if: measureDisplayName">:</span>
                                <span class="workout-result" data-bind="text: measureDisplayName"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ko if:allWorkouts.length == 0-->

                <div class="col-md-offset-3 col-md-5  ">
                    <div class="alert alert-warning" role="alert">
                        No items yet!
                        <a class="alert-link" href="@Url.Action(MVC.Crossfitter.ActionNames.ManageWorkout, MVC.Crossfitter.Name)">Let's create and log a new one?</a>

                    </div>

                </div>
                <!-- /ko-->
            </div>
        </div>
    </div>
</div>


@section Scripts{
    @Scripts.Render("~/bundles/home")
    <script>
        $(function() {
            const path = "@Url.Content("~")";
            const model = new HomePageController({
                pathToApp: path,
                viewModel: @Html.Raw(JsonConvert.SerializeObject(Model))
            });
            ko.applyBindings(model);
        });
    </script>
}