@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="row home-container">
    <div class="col-md-12">
        <div class="container activities-calendar">
            <div class="grid-calendar">
                <div class="row calendar-week-header">
                    <div class="col-xs-1 grid-cell"><div><div><span>S</span></div></div></div>
                    <div class="col-xs-1 grid-cell"><div><div><span>M</span></div></div></div>
                    <div class="col-xs-1 grid-cell"><div><div><span>T</span></div></div></div>
                    <div class="col-xs-1 grid-cell"><div><div><span>W</span></div></div></div>
                    <div class="col-xs-1 grid-cell"><div><div><span>T</span></div></div></div>
                    <div class="col-xs-1 grid-cell"><div><div><span>F</span></div></div></div>
                    <div class="col-xs-1 grid-cell"><div><div><span>S</span></div></div></div>
                </div>

                <div class="row calendar-week">
                    <div class="col-xs-1 grid-cell previous-month"><div><div><span>31</span></div></div></div>
                    <div class="col-xs-1 grid-cell"><div><div><span>1</span></div></div></div>
                    <div class="col-xs-1 grid-cell"><div><div><span>2</span></div></div></div>
                    <div class="col-xs-1 grid-cell"><div><div><span>3</span></div></div></div>
                    <div class="col-xs-1 grid-cell"><div><div><span>4</span></div></div></div>
                    <div class="col-xs-1 grid-cell"><div><div><span>5</span></div></div></div>
                    <div class="col-xs-1 grid-cell"><div><div><span>6</span></div></div></div>
                </div>

          

               
            </div>
        </div>
    </div>
</div>