@{
    Layout = "../Shared/_Layout.cshtml";
}
@model CrossfitDiary.Web.ViewModels.HomeViewModel

<div class="row home-container">
    <div class="">
        <div class="container activities-calendar">
            <div class="grid-calendar">
                <div class="row seven-cols" data-bind="foreach: weekWorkouts">
                    <div class="col-md-1 grid-cell">
                        <div data-bind ="text:dayOfWeek"></div>
                        <div class="content ">
                            <div class="date" data-bind="text:displayDate"></div>
                            <div class="empty-row"></div>
                            <!-- ko if: workouts.length > 0-->
                            <div class="workout-container">
                                <div class="header">Done</div>
                                <!-- ko foreach: workouts-->
                                <div class="workout clearfix">
                                    <div class="pull-left" data-bind="text: selectedWorkoutName"></div>
                                    <div class="pull-right" data-bind="text: measureDisplayName"></div>
                                </div>
                                <!--/ko-->
                            </div>
                            <!--/ko-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/home")
    <script>
        $(function() {
            var path = "@Url.Content("~")";
            var model = new HomePageController({
                pathToApp: path,
                viewModel: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))
            });
            ko.applyBindings(model);
        });
    </script>
}