@model IEnumerable<CrossfitDiary.Web.ViewModels.ExerciseViewModel>
@{
    ViewBag.Title = "Teacher view";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="row">
        <h1>Teacher Content here</h1>
    </div>
    <div class="row">
        @foreach (var exercise in Model)
        {
            <h1>@exercise.Title</h1>
        }
    </div>
</div>
