
@{
    Layout = null;
}

@using Links
<!DOCTYPE html>
<html>
<head>
    <title>Look at me. Look at me again.</title>
</head>
<body>
    <a>
        <img src="@Content.img.error_jpg" />
    </a>
</body>
</html>