/****** Object:  Database [CrossfitDiary]    Script Date: 12-Jul-16 10:18:27 ******/
CREATE DATABASE [CrossfitDiary]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CrossfitDiary].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CrossfitDiary]
GO
/****** Object:  Table [dbo].[Exercise]    Script Date: 13-Jul-16 11:09:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exercise](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RoutineComplex]    Script Date: 13-Jul-16 11:09:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoutineComplex](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	--[RoutineComplexId] [int] NOT NULL,
	[RoutineSimpleId] [int] NOT NULL,
	[RoundsCount] [int] NULL,
	[Time] [time](7) NULL,
	[RestTimeBetweenRounds] [time](7) NULL,
 CONSTRAINT [PK_RoutineComplex] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RoutineSimple]    Script Date: 13-Jul-16 11:09:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoutineSimple](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExerciseId] [int] NOT NULL,
	[TimeToWork] [time](7) NULL,
	[Count] [int] NULL,
	[Distance] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[RoutineComplex]  WITH CHECK ADD  CONSTRAINT [FK_RoutineComplex_RoutineSimple] FOREIGN KEY([RoutineSimpleId])
REFERENCES [dbo].[RoutineSimple] ([Id])
GO
ALTER TABLE [dbo].[RoutineComplex] CHECK CONSTRAINT [FK_RoutineComplex_RoutineSimple]
GO
ALTER TABLE [dbo].[RoutineSimple]  WITH CHECK ADD  CONSTRAINT [FK_RoutineSimple_Exercise] FOREIGN KEY([ExerciseId])
REFERENCES [dbo].[Exercise] ([Id])
GO
ALTER TABLE [dbo].[RoutineSimple] CHECK CONSTRAINT [FK_RoutineSimple_Exercise]
GO
GO
CREATE TABLE [dbo].[Crossfitter](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [Nvarchar](MAX) NOT NULL,
	[LastName] [Nvarchar](MAX) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

CREATE TABLE [dbo].[RoutineToCrossfitter](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoutineComplexId] [int] NOT NULL,
	[RoundsFinished] [int] NULL,
	[TimeElapsed] [time](7) NULL,
	[Distance] [int] NULL,
	[Date] DATETIME NOT NULL,
 CONSTRAINT [PK_RoutineToCrossfitter] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

ALTER TABLE [dbo].[RoutineToCrossfitter]  WITH CHECK ADD  CONSTRAINT [FK_RoutineToCrossfitter_RoutineComplex] FOREIGN KEY([RoutineComplexId])
REFERENCES [dbo].[RoutineComplex] ([Id])
