@import "../bootstrap.scss";
@import "../General/general.scss";

.home-container {
    .personal-maximums {
        .item {
            cursor: pointer;
            text-decoration: none;
        }
    }

    .activities-list {
        .done-item {
            background: #f6f1ed;
            box-shadow: 0 0.20rem 0.1rem rgba(0, 0, 0, .05);
            font-size: 14px;

            &.person-workout {
                border: 1px dashed $cyan;
            }

            .item-header {
                border-bottom: 1px dashed #a6a6a6;
                font-size: 15px;
                padding-bottom: 5px;

                .username {
                    font-weight: 700;
                }

                .remove-workout {
                    cursor: pointer;
                }
            }

            .item-body {
                .workout-title, .cap-time-info {
                    border-bottom: 1px dashed black;
                }

                .workout-result {
                    //border-bottom: 1px dotted black;
                }

                .workout-exercises {
                    .exercise {
                        .do-unbroken-info {
                            font-style: italic;
                            font-weight: 500;
                        }

                        .new-record {
                            color: $orange;
                        }
                    }
                }

                .inner-workouts {
                    .then-container {
                        font-weight: bold;
                        padding: 3px 0 6px 0;
                    }
                }

                .rest-between-rounds {
                    padding-top: 2px;
                    padding-left: 15px;
                    font-weight: 500;
                }
            }

            .item-footer {
                margin-top: 4px;
                border-top: 1px dashed #a6a6a6;

                .edit-workout-action {
                    cursor: pointer;
                    text-decoration: none;
                    font-weight: bold;
                }

                .repeat-workout-action {
                    cursor: pointer;
                    text-decoration: none;
                    font-weight: bold;

                    .do-it-text {
                        margin-left: 2px;
                    }
                }
            }
        }
    }
}
