@import "../bootstrap.scss";

.manage-workout-page {
    .new-or-existing {
        .choose-buttons {
            margin-bottom: 10px;
        }
    }

    .want-to-log-container {
        .log-or-save-buttons {
            margin-bottom: 10px;
        }
    }


    .data-selector-container {
        margin-bottom: 10px;
    }

    .pointer {
        cursor: pointer;
    }
}


.existing-workouts-container {
    .existing-workout-selector {
        padding-bottom: 6px;
    }
}


.log-workout-container {
    .existing-workout-selector {
        padding-bottom: 6px;
    }

    .log-workout-inputs {
        padding: 10px 0;
    }
}


.crossfitter-edit-workout-container {
    .add-new-workout-container {
        .go-next-pointer {
            margin: 6px 0;
        }

        .workout-type-selector {
            padding-bottom: 6px;
        }

        .exercise-selector {
            margin-bottom: 15px;
        }

        .no-selected-container {
            color: #5bc0de;

            &.has-error {
                border-color: #a94442;
                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            }
        }
    }
}

.workout-container {
    .routine-complex-info {
        padding: 0 0 6px 0;
        color: $gray;

        .main-group {
            padding: 0 0 6px 0;
        }
    }

    .selected-workout-type {
        font-size: 18px;
        font-weight: bold;
    }

    .routines-container {
        /*
        border-style: solid;
        border-width: 1px 0 1px 20px;
        border-image: url(http://opbokken.nu/meuk/curly.png) 1 20 stretch;
        padding-left: 0.5em;
            */
        .exercise-title {
            font-weight: bold;
            background: $gray-lighter;
        }

        .simple-routine-item {
            margin: 6px 0;
            padding: 6px;
            border: 1px #5bc0de dashed;
            border-radius: 3px;

            .measure-value-input {
            }
        }
    }
    /*.curly-bracket {
        content: ' ';
        background-image: url('../../../img/curly-bracket.svg');
        background-size: 28px 28px;
        height: 28px;
        width: 28px;
    }*/
}
.has-error {
    @extend .is-invalid;
}