@{
    ViewBag.Title = "Create new workout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="crossfitter-edit-workout-container">
    <div class="col-md-12 add-new-workout-container workout-container">
        <div class="panel panel-success">
            <div class="panel-heading">
                Add new workout
            </div>
            <div class="panel-body clearfix">
                <div class="workout-type-selector">
                    <select class="form-control" data-live-search="true" data-bind="options:workoutTypes, optionsText:'Key',value: selectedWorkoutType, optionsCaption: 'Choose a workout type...',selectPicker: {}"></select>
                </div>
                <div data-bind="if:selectedWorkoutType">
                    <div data-bind="template: { name: 'routine-info-template', data: $data }"></div>
                    <button class="btn btn-success pull-right" data-bind="click: createWorkout, enable: canCreateWorkout">Create workout</button>
                </div>
            </div>
        </div>
    </div>
</div>

@{ Html.RenderPartial(MVC.Crossfitter.Views.Templates._RoutineInfoTemplate); }
@section Scripts
{
    @Scripts.Render("~/bundles/crossfitter/createWorkout")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $(function() {
            var path = "@Url.Content("~")";
            window.model = new CreateWorkoutController({
                pathToApp: path,
                viewModel: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))
            });
            ko.applyBindings(model);
        });
    </script>
}