@model CrossfitDiary.Web.ViewModels.LogWorkoutViewModel

@{
    ViewBag.Title = "Log workout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="log-workout-container">
    <div class="col-md-12 workout-container">
        <div class="panel panel-success">
            <div class="panel-heading">
                Log workout
            </div>
            <div class="panel-body">
                <div class="existing-workout-selector">
                    <select class="form-control" data-live-search="true" data-bind="options:availableWorkouts, optionsText:'title',value: selectedWorkout, optionsCaption: 'Choose a workout...',selectPicker: {}"></select>
                </div>
                <div data-bind="if: selectedWorkout">
                    <div data-bind="template: { name: 'routine-info-template', data: workoutToDisplay }"></div>

                    <div class="text-right">
                        <div class="log-workout-inputs">
                            <div class="form-inline" data-bind="if:canSeeTotalRounds">
                                <div class="form-group">
                                    <label for="generalRoundsFinishedInput">Rounds finished</label>
                                    <input type="text" class="form-control" id="generalRoundsFinishedInput" placeholder="Rounds finished" data-bind="value: totalRoundsFinished">
                                </div>
                                <div class="form-group">
                                    <label for="partialRepsFinishedInput">Partial repetitions</label>
                                    <input type="text" class="form-control" id="partialRepsFinishedInput" placeholder="Partial repetitions" data-bind="value: partialRepsFinished">
                                </div>
                            </div>
                            <div class="form-inline" data-bind="if:canSeePassedDistance">
                                <div class="form-group">
                                    <label for="passedDistanceInput">Passed distance</label>
                                    <input type="text" class="form-control" id="passedDistanceInput" placeholder="Passed distance" data-bind="value: distance">
                                </div>
                            </div>
                            <div class="form-inline" data-bind="if:canSeeGeneralPoints">
                                <div class="form-group">
                                    <label for="generalPointsInput">General points</label>
                                    <input type="text" class="form-control" id="generalPointsInput" placeholder="General points" data-bind="value: generalPoints">
                                </div>
                            </div>
                            <div class="form-inline" data-bind="if:canSeeTotalTime">
                                <div class="form-group">
                                    <label for="timToWorkInput">Total time</label>
                                    <input type="text" class="form-control" id="timToWorkInput" placeholder="Total time" data-bind="value: totalTime">
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-success" data-bind="click: $root.logWorkout">Log workout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{ Html.RenderPartial(MVC.Crossfitter.Views.Templates._RoutineInfoTemplate); }
@section Scripts{
    @Scripts.Render("~/bundles/crossfitter/logWorkout")
    <script>
        $(function() {
            var path = "@Url.Content("~")";
            window.model = new LogWorkoutController({
                pathToApp: path,
                viewModel: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))
                });
            ko.applyBindings(model);
        });
    </script>
}