@model CrossfitDiary.Web.ViewModels.LogWorkoutViewModel

@{
    ViewBag.Title = "Log workout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="log-workout-container">
    <div class="col-md-12 workout-container">
        <div class="panel panel-success">
            <div class="panel-heading">
                Log workout
            </div>
            <div class="panel-body">
                <div class="existing-workout-selector">
                    <select class="form-control"></select>
                </div>
                
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/crossfitter/logWorkout")
    <script>
        $(function() {
            var path = "@Url.Content("~")";
            window.model = new LogWorkoutController({
                pathToApp: path,
                viewModel: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))
            });
            ko.applyBindings(model);
        });
    </script>
}