
@{
    ViewBag.Title = "Manage Workout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="manage-workout-page">
    <div class="new-or-existing" id="accordion">
        <div class="choose-buttons text-center">
            <button type="button" class="btn btn-primary btn-lg" data-parent="#accordion" data-toggle="collapse" data-target="#NewWorkoutContainer" data-bind="click:function(){manageWorkoutClick(true);}">Create new workout?</button>
            or
            <button type="button" class="btn btn-primary btn-lg" data-parent="#accordion" data-toggle="collapse" data-target="#ExistingWorkoutsContainer" data-bind="click:function(){manageWorkoutClick(false);}">Existing workouts?</button>
        </div>
        
        <div class="panel panel-borderless">
            <div class="new-workout-container collapse" id="NewWorkoutContainer">
                <div data-bind="template: { name: 'create-new-workout-template', data: createWorkoutController }"></div>
            </div>
        </div>
        <div class="panel panel-borderless">
            <div class="existing-workouts-container collapse" id="ExistingWorkoutsContainer">
                <div data-bind="template: { name: 'existing-workouts-template', data: chooseExistingWorkoutController }"></div>
            </div>
        </div>
    </div>
</div>  


@{ Html.RenderPartial(MVC.Crossfitter.Views.Templates._CreateNewWorkout); }
@{ Html.RenderPartial(MVC.Crossfitter.Views.Templates._ExistingWorkoutsTemplate); }
@{ Html.RenderPartial(MVC.Crossfitter.Views.Templates._RoutineInfoTemplate); }

@section Scripts{
    @Scripts.Render("~/bundles/crossfitter/manageWorkout")
    <script>
        $(function() {
            var path = "@Url.Content("~")";
            window.model = new ManageWorkoutController({
                pathToApp: path,
                viewModel: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))
            });
            ko.applyBindings(model);
        });
    </script>
}