
@{
    ViewBag.Title = "Manage Workout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="manage-workout-page">
    <div class="new-or-existing" id="NewOrExistingAccordion">
        <div class="choose-buttons text-center">
            <button type="button" class="btn btn-primary btn-lg" data-parent="#NewOrExistingAccordion" data-toggle="collapse" data-target="#NewWorkoutContainer" data-bind="click:function(){manageWorkoutClick(true);}">Create new workout?</button>
            or
            <button type="button" class="btn btn-primary btn-lg" data-parent="#NewOrExistingAccordion" data-toggle="collapse" data-target="#ExistingWorkoutsContainer" data-bind="click:function(){manageWorkoutClick(false);}">Existing workouts?</button>
        </div>

        <div class="panel panel-borderless">
            <div class="new-workout-container collapse" id="NewWorkoutContainer">
                <div data-bind="template: { name: 'create-new-workout-template', data: createWorkoutController }"></div>
            </div>
        </div>
        <div class="panel panel-borderless">
            <div class="existing-workouts-container collapse" id="ExistingWorkoutsContainer">
                <div data-bind="template: { name: 'existing-workouts-template', data: chooseExistingWorkoutController }"></div>
            </div>
        </div>
    </div>
    <div class="want-to-log-container" data-bind="visible:isAnyContainersVisible" id="WantToLogAccordion">
        <div class="log-or-save-buttons text-center">
            <button type="button" class="btn btn-primary btn-lg" data-parent="#WantToLogAccordion" data-toggle="collapse" data-target="#LogWorkoutContainer">Log your workout?</button>
            or
            <button type="button" class="btn btn-success btn-lg" data-parent="#WantToLogAccordion" data-toggle="collapse" data-target="#PlanWorkoutContainer">Plan the workout?</button>
        </div>

        <div class="panel panel-borderless">
            <div class="log-workout-container collapse" id="LogWorkoutContainer" data-bind="with:logWorkoutController">
                <div class="col-md-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            Log workout!
                        </div>
                        <div class="panel-body">
                            <div class="text-right">
                                <div class="log-workout-inputs">
                                    <div class="form-inline" data-bind="if:canSeeTotalRounds">
                                        <div class="form-group">
                                            <label for="generalRoundsFinishedInput">Rounds finished</label>
                                            <input type="text" class="form-control" id="generalRoundsFinishedInput" placeholder="Rounds finished" data-bind="value: totalRoundsFinished">
                                        </div>
                                        <div class="form-group">
                                            <label for="partialRepsFinishedInput">Partial repetitions</label>
                                            <input type="text" class="form-control" id="partialRepsFinishedInput" placeholder="Partial repetitions" data-bind="value: partialRepsFinished">
                                        </div>
                                    </div>
                                    <div class="form-inline" data-bind="if:canSeePassedDistance">
                                        <div class="form-group">
                                            <label for="passedDistanceInput">Passed distance</label>
                                            <input type="text" class="form-control" id="passedDistanceInput" placeholder="Passed distance" data-bind="value: distance">
                                        </div>
                                    </div>
                                    <div class="form-inline" data-bind="if:canSeeTotalTime">
                                        <div class="form-group">
                                            <label for="timToWorkInput">Total time</label>
                                            <input type="text" class="form-control" id="timToWorkInput" placeholder="Total time" data-bind="value: totalTime">
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-success" data-bind="click: $root.logWorkout">Log workout</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-borderless">
            <div class="plan-workout-container collapse" id="PlanWorkoutContainer">
                Plan here
            </div>
        </div>
    </div>
</div>


@{ Html.RenderPartial(MVC.Crossfitter.Views.Templates._CreateNewWorkout); }
@{ Html.RenderPartial(MVC.Crossfitter.Views.Templates._ExistingWorkoutsTemplate); }
@{ Html.RenderPartial(MVC.Crossfitter.Views.Templates._RoutineInfoTemplate); }

@section Scripts{
    @Scripts.Render("~/bundles/crossfitter/manageWorkout")
    <script>
        $(function() {
            var path = "@Url.Content("~")";
            window.model = new ManageWorkoutController({
                pathToApp: path,
                viewModel: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))
                });
            ko.applyBindings(model);
        });
    </script>
}