
@{
    ViewBag.Title = "Manage Workout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="manage-workout-page">
    <div class="new-or-existing" id="accordion">
        <div class="choose-buttons text-center">
            <button type="button" class="btn btn-primary btn-lg" data-parent="#accordion" data-toggle="collapse" data-target="#ExistingWorkoutsContainer">Existing workouts?</button>
            or
            <button type="button" class="btn btn-primary btn-lg" data-parent="#accordion" data-toggle="collapse" data-target="#NewWorkoutContainer">Create new workout?</button>
        </div>
        <div class="panel panel-borderless">
            <div class="existing-workouts-container collapse" id="ExistingWorkoutsContainer">
                ExistingWorkoutsContainer
            </div>
        </div>
        
        <div class="panel panel-borderless">
            <div class="new-workout-container collapse" id="NewWorkoutContainer">
                NewWorkoutContainer
            </div>
        </div>


    </div>
</div>  

