@{
    ViewBag.Title = "Our prides";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-bind="visible:true" style="display: none" class="pride-container">
    <h2>Choose an exercise:</h2>
    <select class="form-control exercise-selector" data-live-search="true" data-bind="options:_exercises, optionsText:'title',value: _selectedExercise, optionsCaption: 'Choose an exercise...',selectPicker: {}"></select>

    <div class="person-records" data-bind="if:_selectedExercise">
        <h3>Your results </h3>
        <div class="clearfix">
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th class="fixed-pride-width">Name</th>
                        <th class="fixed-pride-width">Maximum Weight</th>
                        <th class="fixed-pride-width">Date</th>
                </thead>
                <tbody>
                    <!--ko if:_personMaximums().length == 0 -->
                    <tr class="text-center empty-data">
                        <td colspan="4">No records for you were found</td>
                    </tr>
                    <!-- /ko -->
                    <!-- ko foreach: _personMaximums -->
                    <tr>
                        <td>
                            <span data-bind="text: personName"></span>
                        </td>
                        <td>
                            <span data-bind="text: maximumWeight"></span>
                        </td>
                        <td>
                            <span data-bind="text: date"></span>
                        </td>
                    </tr>
                    <!-- /ko -->
                </tbody>
            </table>
        </div>
    </div>


    <div class="all-persons-records" data-bind="if:_selectedExercise">
        <h3>All persons results </h3>
        <div class="pull-right">
            <input type="text" class="form-control " placeholder="Search" data-bind="value: filter, valueUpdate: 'afterkeydown'" />
        </div>
        <table class="table table-striped ">
            <thead>
                <tr>
                    <th class="fixed-pride-width" data-bind="sort: {arr:_allPersonsMaximums, prop:'personName'}">Name</th>
                    <th class="fixed-pride-width" data-bind="sort: {arr:_allPersonsMaximums, prop:'maximumWeight'}">Maximum Weight</th>
                    <th class="fixed-pride-width" data-bind="sort: {arr:_allPersonsMaximums, prop:'date'}">Date</th>
            </thead>
            <tbody>
                <!--ko if:filteredItems().length == 0 -->
                <tr class="text-center empty-data">
                    <td colspan="4">No keys found for this customer</td>
                </tr>
                <!-- /ko -->
                <!-- ko foreach: filteredItems -->
                <tr>
                    <td>
                        <span data-bind="text: personName"></span>
                    </td>
                    <td>
                        <span data-bind="text: maximumWeight"></span>
                    </td>
                    <td>
                        <span data-bind="text: date"></span>
                    </td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>

    </div>
</div>


@section Scripts{
    @Scripts.Render("~/bundles/crossfitter/statistics")
    <script>
        $(function() {
            const model = new PrideController({ pathToApp: "@Url.Content("~")" });
            ko.applyBindings(model);
        });
    </script>
}