@{
    string currentVersion = string.Format("{0}.{1}.{2}", typeof(Startup).Assembly.GetName().Version.Major, typeof(Startup).Assembly.GetName().Version.Minor, typeof(Startup).Assembly.GetName().Version.Build);
}

<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-35949393-2"></script>
    <script>

        var host = window.location.hostname;
        if (host !== "localhost") {
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-35949393-2');
        }
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />

    <title>@ViewBag.Title</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/dist/generated/main.css" asp-append-version="true" />
        <script src="~/dist/generated/fontAwesome.js" asp-append-version="true"></script>
        @* <link rel="stylesheet" href="~/css/site.css" /> *@
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/dist/generated/main.css" asp-append-version="true" />

        @* <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css" *@
        @* asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css" *@
        @* asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" /> *@
        @* <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" /> *@
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    </environment>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand text-secondary">
                    <i class="fa fa-home" aria-hidden="true"></i> Workouter v@(currentVersion)
                </a>

                <div class="navbar-collapse" id="navBar">
                    <ul class="navbar-nav mr-auto">
                            <li class="nav-item mr-1">
                                <a class="nav-link btn btn-info text-light d-inline-block d-md-none p-0" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    <div class="small-action-link-button">
                                        <div class="icon-container">
                                            <i class="fas fa-trophy"></i>
                                        </div>
                                        <div class="text-container">MAX</div>
                                    </div>
                                    <span class="d-none d-md-inline">Weight maximums</span>
                                </a>
                                <a class="nav-link btn btn-info text-light d-none d-md-inline-block" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    <i class="fas fa-trophy"></i>
                                    <span class="d-none d-md-inline">Weight maximums</span>
                                </a>
                            </li>


                        <li class="nav-item mr-1">
                            <a class="nav-link btn btn-success text-light d-inline-block d-md-none p-0" href="#">
                                <div class="small-action-link-button">
                                    <div class="icon-container">
                                        <i class="fas fa-rocket"></i>
                                    </div>
                                    <div class="text-container">LOG</div>
                                </div>
                            </a>
                            <a class="nav-link btn btn-success text-light d-none d-md-inline-block">
                                <i class="fa fa-rocket" aria-hidden="true"></i>
                                <span>Create/Log workout</span>
                            </a>
                        </li>
                        <li class="nav-item mr-1  ">
                            <a class="nav-link btn btn-warning text-light d-inline-block d-md-none p-0">
                                <div class="small-action-link-button">
                                    <div class="icon-container">
                                        <i class="fas fa-calculator"></i>
                                    </div>
                                    <div class="text-container">PRIDE</div>
                                </div>

                                <span class="d-none d-md-inline">Our prides</span>
                            </a>
                            <a class="nav-link btn btn-warning text-light d-none d-md-inline-block">
                                <i class="fa fa-calculator" aria-hidden="true"></i>
                                <span class="d-none d-md-inline">Our prides</span>
                            </a>

                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0 d-none d-lg-inline">
                        <span class="navbar-text mr-lg-2 ">
                            @User.Identity.Name
                        </span>
                        <a class="btn btn-outline-primary " asp-controller="Account" asp-action="Logout">
                            <i class="fas fa-sign-out-alt"></i>
                            <span class="d-none d-lg-inline">Log Out</span>
                        </a>
                    </form>

                </div>
            </div>
        </nav>

    </header>
    <main role="main" class="container">
        @RenderBody()
    </main>

    <environment include="Development">
        @* <script src="~/lib/jquery/dist/jquery.js"></script> *@
        @* <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script> *@
        @* <script src="~/dist/generated/main.js" asp-append-version="true"></script> *@
    </environment>
    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" integrity="sha384-u/bQvRA/1bobcXlcEYpsEdFVK/vJs3+T+nXLsBYJthmdBuavHvAW6UsmqO2Gd/F9" crossorigin="anonymous"></script>

        @* <script src="~/dist/generated/main.js" asp-append-version="true"></script> *@

        @*         <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js" asp-fallback-src="~/lib/jquery/dist/jquery.min.js" *@
        @*                 asp-fallback-test="window.jQuery" *@
        @*                 crossorigin="anonymous" *@
        @*                 integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk"> *@
        @*         </script> *@
        @* <script
            src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js" *@
        @* asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js" *@
        @* asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal" *@
        @* crossorigin="anonymous" *@
        @* integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"> *@
        @* </script> *@
        @* <script src="~/js/site.min.js" asp-append-version="true"></script> *@
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
