@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Look at me. Look at me again.</title>
</head>
<body>
    <a>
        <img src="images/error.jpg" />
    </a>
</body>
</html>