<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="CrossfitDiaryEntities"
         connectionString="Server=u483345.mssql.masterhost.ru;Database=u483345_csdiary;User ID=u483345;Password=merranie9te3d"
         providerName="System.Data.SqlClient"
         xdt:Transform="Replace"/>

  </connectionStrings>
</configuration>