<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="CrossfitDiaryEntities"
         connectionString="workstation id=CrossfitDiary.mssql.somee.com;packet size=4096;user id=faiverAlb_SQLLogin_1;pwd=kd9zaq9fqq;data source=CrossfitDiary.mssql.somee.com;persist security info=False;initial catalog=CrossfitDiary"
         providerName="System.Data.SqlClient"
         xdt:Transform="Replace"/>

  </connectionStrings>
</configuration>