@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Look at me. Look at me again.</title>
</head>
<body>
<a asp-controller="Persons" asp-action="Index">
    <h2>We were unable to login you, sorry :( Maybe try again?</h2>
    <img src="images/error.jpg" alt="Error message here ;)"/>
</a>
</body>
</html>