@model CrossfitDiary.Web.Models.LoginModel
@{
    ViewBag.Title = "Log in";
    Layout = "../Shared/_Layout.cshtml";
    string currentVersion = string.Format("{0}.{1}.{2}", ViewContext.Controller.GetType().Assembly.GetName().Version.Major, ViewContext.Controller.GetType().Assembly.GetName().Version.Minor, ViewContext.Controller.GetType().Assembly.GetName().Version.Build);
}
<div class="login-container mt-5">
    <div class="text-center py-2 person-icon"><i class="fas fa-user-circle fa-5x"></i></div>
    <h1 class="h3 mb-3 font-weight-normal text-center">Workouter v@(currentVersion)</h1>

    @using (Html.BeginForm(MVC.Account.ActionNames.Login, MVC.Account.Name, new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-lg btn-block social-button" id="Google" value="Google" name="provider">
            <i class="fab fa-google-plus-g"></i> Sign in with Google
        </button>


    }
</div>



@section styles{
    @Styles.Render("~/Content/login")

}

@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
}