@model CrossfitDiary.Web.Models.LoginModel
@{
    ViewBag.Title = "Log in";
}
<div class="login-container">
    <div class="form-signin signIn mg-btm">
        <h3 class="heading-desc">
            Login to your board
        </h3>
        <div class="social-box">
            <div class="row">
                <div class="col-md-12">
                    @using (Html.BeginForm(MVC.Account.ActionNames.Login, MVC.Account.Name, new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-block btn-social btn-lg btn-google" id="Google" value="Google" name="provider"><i class="fa fa-google"></i> Sign in with Google</button>
                    }
                </div>
            </div>
@*            <div class="row">*@
@*                <div class="col-md-12">*@
@*                    <a href="/account/provider/facebook" title="Facebook" class="btn btn-block btn-social btn-lg btn-facebook">*@
@*                        <i class="fa fa-facebook"></i> Sign in with Facebook*@
@*                    </a>*@
@*                </div>*@
@*            </div>*@
@*            <div class="row">*@
@*                <div class="col-md-12">*@
@*                    <a href="/account/provider/facebook" title="Vk" class="btn btn-block btn-social btn-lg btn-vk">*@
@*                        <i class="fa fa-vk"></i> Sign in with Vkontakte*@
@*                    </a>*@
@*                </div>*@
@*            </div>*@
        </div>

    </div>
</div>