<script type="text/html" id="existing-workouts-template">
    <div class="existing-workouts-container">
        <div class="col-md-12 add-new-workout-container workout-container">
            <div class="card">
                <div class="card-header bg-success">
                    Existing Workouts
                </div>
                <div class="card-body">
                    <div class="existing-workout-selector">
                        <select class="form-control" data-live-search="true" data-bind="options: _availableWorkouts, optionsText:'detailedTitle',value: selectedWorkout, optionsCaption: 'Choose a workout...',selectPicker: {}"></select>
                    </div>
                    <div data-bind="if: selectedWorkout">
                        <div data-bind="template: { name: 'routine-info-template', data: {model:workoutToDisplay} }"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>