<div class="col-md-12 text-right">
    <div class="row justify-content-end" data-bind="with:_logToCreate">
        <div class="horizontal-divider d-block d-sm-none " >
            <hr  />
        </div>
        <div class="col-lg-3 col-sm data-selector-container pr-lg-1">
            <div class="input-group">
                <input class="" id="DateSelector" readonly="readonly" data-bind="datepicker:_plannedDate"/>
            </div>
        </div>
        <!--ko if:_canSeeTotalRounds -->
        <div class="col-lg-3 col-sm pr-lg-1">
            <div class=" input-group mb-2" data-bind="validationElement: _totalRoundsFinished">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-hashtag"></i>
                    </span>
                </div>
                <input type="number" min="1" class="form-control" id="generalRoundsFinishedInput" placeholder="Rounds finished" data-bind="value: _totalRoundsFinished">
            </div>

        </div>
        <div class="col-lg-3 col-sm ">
            <div class=" input-group mb-2 ">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-hashtag"></i>
                    </span>
                </div>
                <input type="number" min="0" class="form-control" id="partialRepsFinishedInput" placeholder="Partial repetitions" data-bind="value: _partialRepsFinished">
            </div>

        </div>
        <!-- /ko -->
        <!--ko if:_canSeeTotalTime -->
        <div class="col-lg-3 col-sm pr-lg-2 total-time-log-container">

            <div class=" input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-clock"></i>
                    </span>
                </div>
                <input type="text" class="form-control" id="timeToWorkInput" placeholder="Total time" data-bind="validationElement: _totalTime,inputmask:{value: _totalTime, mask:'99:59',definitions: { '5': { validator: '[0-5]' } }}">
            </div>
        </div>
        <div class="vertical-divider d-none d-sm-block"></div>
        <div class="horizontal-divider d-block d-sm-none ">
            <hr/>
        </div>

        <div class="col-lg-2 col-sm  pl-lg-2 cap-reps-log-container">
            <div class=" input-group mb-2 ">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        Cap +
                    </span>
                </div>
                <input type="number" min="1" class="form-control" id="repsToFinishOnCapTimeInput" placeholder="Count" data-bind="value: _repsToFinishOnCapTime">
            </div>

        </div>

        <!-- /ko -->

    </div>

    <button class="btn btn-success" data-bind="click: _logWorkout">Log workout</button>
</div>