<div class="col-md-12">
    <div class="panel panel-success">
        <div class="panel-heading">
            Log workout!
        </div>
        <div class="panel-body">
            <div class="text-right">
                <div class="log-workout-inputs">
                    <div class="form-inline" data-bind="if:canSeeTotalRounds">
                        <div class="form-group" data-bind="validationElement: totalRoundsFinished">
                            <label for="generalRoundsFinishedInput">Rounds finished</label>
                            <input type="number" min="1" class="form-control" id="generalRoundsFinishedInput" placeholder="Rounds finished" data-bind="value: totalRoundsFinished">
                        </div>
                        <div class="form-group">
                            <label for="partialRepsFinishedInput">Partial repetitions</label>
                            <input type="number" min="0" class="form-control" id="partialRepsFinishedInput" placeholder="Partial repetitions" data-bind="value: partialRepsFinished">
                        </div>
                    </div>
                    <div class="form-inline" data-bind="if:canSeePassedDistance">
                        <div class="form-group" data-bind="validationElement: distance">
                            <label for="passedDistanceInput">Passed distance</label>
                            <input type="number" min="1" class="form-control" id="passedDistanceInput" placeholder="Passed distance" data-bind="value: distance">
                        </div>
                    </div>
                    <div class="form-inline" data-bind="if:canSeeTotalTime">
                        <div class="form-group" data-bind="validationElement: totalTime">
                            <label for="timToWorkInput">Total time</label>
                            <input type="text" class="form-control" id="timToWorkInput" placeholder="Total time" data-bind="inputmask:{value: totalTime, mask:'99:59',definitions: { '5': { validator: '[0-5]' } }}">

                        </div>
                    </div>
                </div>
                <button class="btn btn-success" data-bind="text: logWorkoutText, click: $data.logWorkout">Log workout</button>
            </div>

        </div>
    </div>
</div>
