<script type="text/html" id="routine-info-template">
    <div class="routine-complex-info" data-bind="with:model">
        <!--ko if: _canSeeGeneralWorkoutInfo-->
        <div class="form-inline mb-4 mt-3 general-info-container">
            <div  class="form-group" data-bind="if: _canSeeRoundsCount">
                <h5 for="roundsInput" class="mr-2" >Rounds count:</h5>
                <input type="number" min="1" class="form-control form-control-lg" id="roundsInput" placeholder="Rounds count" data-bind="validationElement: _roundsCount, value: _roundsCount, valueUpdate: 'afterkeydown'">
            </div>
            <div class="form-group" data-bind="if: _canSeeTimeToWork">
                <h5 for="timeInput" class="mr-2">Time to work:</h5>
                <input type="text" class="form-control form-control-lg" id="timeInput" placeholder="Time to work" data-bind="validationElement: _timeToWork, inputmask:{value: _timeToWork, mask:'99:59',definitions: { '5': { validator: '[0-5]' } }}">
            </div>
        </div>
        <!-- /ko -->
    </div>
    <div>
        <select class="form-control exercise-selector" data-live-search="true" data-bind="options: controller._exercises, optionsText:'title',value: controller._selectedExercise, optionsCaption: 'Add an exercise...',selectPicker: {}"></select>
    </div>
    <div class="selected-workout-type">
        <div class="text-center" data-bind="text:model()._workoutTypeTitle"></div>
    </div>
    <div class="routines-container">
        <!-- ko foreach:model()._exercisesToBeDone-->
        @{ Html.RenderPartial(MVC.Crossfitter.Views.Templates._SimpleRoutineItemTemlate); }
        <!-- /ko -->
        <!-- ko ifnot: model()._anyUsualExercises -->
        <div class="simple-routine-item text-center no-selected-container" data-bind="validationElement: model()._exercisesToBeDone">
            No exercises selected
        </div>
        <!-- /ko -->
    </div>
</script>