<script type="text/html" id="routine-info-template">

    <div class="routine-complex-info" data-bind="with:model">
        <!--ko if: _canSeeGeneralWorkoutInfo-->
        <div class=" mb-2 pt-2 general-info-container">
            <div class="row" data-bind="if: _canSeeRoundsCount">
                <div class="col-lg-3 time-cap-container pb-2">
                    <label for="timeCapInput" class="sr-only">Time cap:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fas fa-clock fa-lg time-cap-icon"></i>
                            </div>
                        </div>
                        <input type="text" class="form-control " id="timeCapInput" placeholder="Time Cap" data-bind="validationElement: _timeCap, inputmask:{value: _timeCap, mask:'99:59',definitions: { '5': { validator: '[0-5]' } }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 pb-2" data-bind="if: _canSeeTimeToWork">
                    <label for="timeInput" class="sr-only">Time to work:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="far fa-clock"></i></div>
                        </div>
                        <input type="text" class="form-control" id="timeInput" placeholder="Time to work" data-bind="validationElement: _timeToWork, inputmask:{value: _timeToWork, mask:'99:59',definitions: { '5': { validator: '[0-5]' } }}">
                    </div>
                </div>

            </div>
        </div>
        <div class="row" data-bind="if: _canSeeRoundsCount">
            <div class="col-lg-3 pb-2">
                <label for="roundsInput" class="sr-only">Rounds count:</label>
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-hashtag"></i></div>
                    </div>
                    <input type="number" min="1" class="form-control " id="roundsInput" placeholder="Rounds count" data-bind="validationElement: _roundsCount, value: _roundsCount, valueUpdate: 'afterkeydown'">
                </div>
            </div>

        </div>
        <!-- /ko -->
    </div>
    <div class="py-2">
        <select class="form-control exercise-selector" data-live-search="true" data-bind="options: controller._exercises, optionsText:'title',value: controller._selectedExercise, optionsCaption: 'Add an exercise...',selectPicker: {}"></select>
    </div>
    <div class="routines-container pt-2">
        <!-- ko foreach:model()._exercisesToBeDone-->
        @{ Html.RenderPartial(MVC.Crossfitter.Views.Templates._SimpleRoutineItemTemlate); }
        <!-- /ko -->
        <!-- ko ifnot: model()._anyUsualExercises -->
        <div class="simple-routine-item text-center no-selected-container" data-bind="validationElement: model()._exercisesToBeDone">
            No exercises selected
        </div>
        <!-- /ko -->
    </div>
    <div class="mt-3" data-bind="with:model">
        <!-- ko if: _canSeeRepeatWorkoutForTimeButton -->
        <button class="btn btn-warning">Add workout after</button>
        <!-- /ko -->
    </div>
</script>