<script type="text/html" id="routine-info-template">

    <div class="routine-complex-info">
        <!--ko if: _canSeeGeneralWorkoutInfo-->
        <div class="pt-2 general-info-container">
            <div class="row" data-bind="if: _canSeeTimeCap">
                <div class="col-lg-3 time-cap-container pb-2">
                    <label for="timeCapInput" class="sr-only">Time cap:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fas fa-clock fa-lg time-cap-icon"></i>
                            </div>
                        </div>
                        <input type="text" pattern="[0-9]*" inputmode="numeric" class="form-control " id="timeCapInput" placeholder="Time Cap" data-bind="validationElement: _timeCap, inputmask:{value: _timeCap, mask:'99:59',definitions: { '5': { validator: '[0-5]' } }}">
                    </div>
                </div>
            </div>
            <div class="row" data-bind="if: _canSeeTimeToWork">
                <div class="col-lg-3 pb-2">
                    <label for="timeInput" class="sr-only">Time to work:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="far fa-clock"></i></div>
                        </div>
                        <input type="text" pattern="[0-9]*" inputmode="numeric" class="form-control" id="timeInput" placeholder="Time to work" data-bind="validationElement: _timeToWork, inputmask:{value: _timeToWork, mask:'99:59',definitions: { '5': { validator: '[0-5]' } }}">
                    </div>
                </div>

            </div>
        </div>
        <div class="row" data-bind="if: _canSeeRoundsCount">
            <div class="col-lg-3 pb-2">
                <label for="roundsInput" class="sr-only">Rounds count:</label>
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-hashtag"></i></div>
                    </div>
                    <input type="number" pattern="[0-9]*" inputmode="numeric" min="1" class="form-control " id="roundsInput" placeholder="Rounds count" data-bind="validationElement: _roundsCount, value: _roundsCount, valueUpdate: 'afterkeydown'">
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>

    <div class="inner-workouts" data-bind="foreach:_innerWorkouts">
        <div class="workout">
            <div class="inner-workout-header">
                <h5>
                    <span data-bind="if: $index() != 0"> then </span>
                    <span data-bind="text:($index() + 1)  + ' workout'"></span>
                    <!-- ko if: $root._isDefaultMode && $parent._innerWorkouts().length > 1 -->
                    <a href="#" data-bind="click:function(){ $parent.removeInnerWorkout($index())}">  <i class="fas fa-times fa-sm text-secondary" aria-hidden="true"></i></a>
                    <!-- /ko -->
                </h5>
            </div>
            <div data-bind="template: { name: 'routine-info-template', data: $data}"></div>
        </div>
    </div>
    <div class="routines-container pt-2">
        <!-- ko foreach:_exercisesToBeDone-->
        @{ Html.RenderPartial(MVC.Crossfitter.Views.Templates._SimpleRoutineItemTemlate); }
        <!-- /ko -->
    </div>

    <!-- ko if: _isWorkoutsContainer === false-->
    <div class="py-2">
        <select class="form-control exercise-selector" data-live-search="true" data-bind="options: _exercises, optionsText:'title',value: _selectedExercise, optionsCaption: 'Add an exercise...',selectPicker: {}"></select>
    </div>
    <!-- /ko -->
    
    <div class="routines-container pt-2">
        <!-- ko if: _exercisesToBeDone().length == 0 && _isWorkoutsContainer === false-->
        <div class="simple-routine-item text-center no-selected-container" data-bind="validationElement: _exercisesToBeDone">
            No exercises selected
        </div>
        <!-- /ko -->
    </div>
    
    <div class="row">
        <div class="offset-lg-8 col-lg-4 ">
            <label for="timeInput" class="sr-only">Rest after</label>
            <div class="input-group py-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Rest after:</div>
                </div>
                <input type="text" pattern="[0-9]*" inputmode="numeric" class="form-control" id="restBetweenRoundsInput" placeholder="Rest between rounds" data-bind="validationElement: _restBetweenRounds, inputmask:{value: _restBetweenRounds, mask:'99:59',definitions: { '5': { validator: '[0-5]' } }}">
            </div>
        </div>
    </div>

    <div class="mt-3">
        <!-- ko if: $root._isDefaultMode && _isWorkoutsContainer -->
        <button class="btn btn-warning" data-bind="click: addInnerWorkout">Add workout after</button>
        <!-- /ko -->
    </div>
</script>