<div class="simple-routine-item">
    <div class="form-row">
        <div class="form-group my-1 col-lg-auto">
            <div class="input-group">
                <span class="form-control exercise-title" data-bind="text: model.title"></span>
                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle  dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" data-bind="click:function(){$parent.moveSimpleRoutineUp($index());}, css:{disabled: $index() == 0}"> <i class="fas fa-long-arrow-alt-up text-info"></i> Move up </a>
                        <a class="dropdown-item" href="#" data-bind="click:function(){$parent.moveSimpleRoutineDown($index());}, css:{disabled: $parent._exercisesToBeDone().length -1  == $index()}"><i class="fas fa-long-arrow-alt-down text-info"></i> Move down </a>
                        <a class="dropdown-item" href="#" data-bind="click:$parent.addSimpleRoutineFromToDo"><i class="fas fa-plus fa-sm text-success" aria-hidden="true"></i> Repeat </a>
                        <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item " href="#" data-bind="click:function(){ $parent.removeSimpleRoutineFromToDo($index)}"><i class="fas fa-trash fa-sm text-danger" aria-hidden="true"></i> Remove </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ko foreach:_exerciseMeasures-->
        <div class="form-group my-1 col-lg-3" data-bind="validationElement: _exerciseMeasureType.measureValue">
            <label class="sr-only" data-bind="attr:{for:'measure_input_id_' + $index()}"></label>
            <div class="input-group mx-1 pr-1">
                <input type="text" pattern="\d*" step="0.01" class="form-control measure-value-input" data-bind="value: _exerciseMeasureType.measureValue, valueUpdate: 'afterkeydown', attr: { placeholder: _exerciseMeasureType.measureDesciption, id:'measure_input_id_' + $index()}">
                <span class="input-group-append">
                    <span class="input-group-text" data-bind="text:_exerciseMeasureType.shortMeasureDescription()"></span>
                </span>
            </div>
        </div>
        <!-- /ko -->
    </div>
</div>

