<div class="simple-routine-item">
    <div class="form-row">
        <div class="form-group my-1 col-lg-auto">
            <div class="input-group">
                <span class="input-group-prepend" data-bind="click:$parent.model().addSimpleRoutineFromToDo">
                    <button class="btn bg-success text-light"><i class="fas fa-plus fa-sm" aria-hidden="true"></i></button>
                </span>
                <span class="form-control exercise-title" data-bind="text: model.title"></span>
                <span class="input-group-append " data-bind="click:function(){ $parent.model().removeSimpleRoutineFromToDo($index)}">
                    <button class="btn bg-secondary text-light" type="button"><i class="fas fa-trash fa-sm" aria-hidden="true"></i></button>
                </span>
            </div>
        </div>
        <!-- ko foreach:_exerciseMeasures-->
        <div class="form-group my-1 col-lg-auto" data-bind="ifnot: $parents[1].model()._isReadOnlyMode, validationElement: _exerciseMeasureType.measureValue">
            <label class="sr-only" data-bind="attr:{for:'measure_input_id_' + $index()}"></label>
            <div class="input-group mx-1 pr-1">
                <input type="number" min="0" class="form-control measure-value-input" data-bind="value: _exerciseMeasureType.measureValue, valueUpdate: 'afterkeydown', attr: { placeholder: _exerciseMeasureType.measureDesciption, readonly: $parents[1].model()._isReadOnlyMode, id:'measure_input_id_' + $index()}">
                <span class="input-group-append">
                    <span class="input-group-text" data-bind="text:'('+ _exerciseMeasureType.shortMeasureDescription() + ')'"></span>
                </span>
            </div>
        </div>
        <!-- ko if: $parents[1].model()._isReadOnlyMode && _exerciseMeasureType.measureValue-->
            <div class="form-group my-1 col-lg-auto">
                <div class="input-group">
                    <input type="number" min="0" class="form-control measure-value-input" data-bind="value: _exerciseMeasureType.measureValue" readonly="readonly">
                    <span class="input-group-append">
                        <span class="input-group-text" data-bind="text:'('+ _exerciseMeasureType.shortMeasureDescription() + ')'"></span>
                    </span>
                </div>
            </div>
        <!-- /ko -->
        <!-- /ko -->
    </div>
</div>


