<div id="manage-workout-page-container"></div>

@section scripts {
    <script src="https://unpkg.com/vue"></script>
    <script asp-src-include="~/dist/generated/workout-entry*.js"></script>
}
