<div id="ManageWorkoutPageContainer"></div>
<h2>workout page to do</h2>

@section scripts {
    <script src="https://unpkg.com/vue"></script>
    <script src="~/dist/generated/workout-enty.js" asp-append-version="true"></script>
}
