.crossfitter-edit-workout-container {
    .add-new-workout-container {
        .go-next-pointer {
            margin: @padding-base-vertical 0;
        }
        .workout-type-selector {
            padding-bottom: @padding-base-vertical;
        }

        .exercise-selector {
            margin-bottom: @form-group-margin-bottom;
        }

        .no-selected-container {
            color: @brand-info;
        }
    }
}
