.workout-container {
    .routine-complex-info {
        padding: 0 0 @padding-base-vertical 0;
        color: @gray;

        .main-group {
            padding: 0 0 @padding-base-vertical 0;
        }
    }

    .selected-workout-type {
        font-size: @font-size-large;
        font-weight: bold;
    }

    .routines-container {
        /*
        border-style: solid;
        border-width: 1px 0 1px 20px;
        border-image: url(http://opbokken.nu/meuk/curly.png) 1 20 stretch;
        padding-left: 0.5em;
            */
        .exercise-title {
            font-weight: bold;
            background: @gray-lighter;
        }

        .simple-routine-item {
            margin: @padding-base-vertical 0;
            padding: @padding-base-vertical;
            border: 1px @brand-info dashed;
            border-radius: 3px;

            .measure-value-input {
                
            }
        }
    }

    /*.curly-bracket {
        content: ' ';
        background-image: url('../../../img/curly-bracket.svg');
        background-size: 28px 28px;
        height: 28px;
        width: 28px;
    }*/
}
