@import "_custom.scss";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities";
// C:\TestProjects\crossfitDiary\CrossfitDiary\CoreApp\CrossfitDiaryCore.Web\node_modules\bootstrap\scss\_variables.scss
@import "./general.scss";


.manage-workout-page {
    .new-or-existing {
        .choose-buttons {
            margin-bottom: 10px;
        }
    }

    .want-to-log-container {
        .log-or-save-buttons {
            margin-bottom: 10px;
        }
    }


    .data-selector-container {
        margin-bottom: 10px;
    }

    .pointer {
        cursor: pointer;
    }

    .manage-workout-container {
        .workout-type-selector {
            >select {
                border: 1px solid $green;
            }
        }

        .existing-workout-selector {
            >select {
                border: 1px solid $orange;
            }
        }
    }

    .vertical-divider {
        width: 1px;
        border-left: 1px solid $gray-500;
        margin: 8px 0 18px 0;
        vertical-align: middle;
    }

    .horizontal-divider {
        width: 100%;

        >hr {
            width: 90%;
            margin-top: 7px;
        }
    }

    .total-time-log-container,
    .cap-reps-log-container {
        .has-error {
            border-color: $yellow;
        }
    }
}




.crossfitter-edit-workout-container {
    .add-new-workout-container {
        .go-next-pointer {
            margin: 6px 0;
        }

        .exercise-selector {
            border: 1px solid $gray-600;
        }

        .no-selected-container {
            color: #5bc0de;

            &.has-error {
                border-color: #a94442;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            }
        }
    }
}

.workout-container {
    .routine-complex-info {
        color: $gray;

        .general-info-container {
            .time-cap-container {
                .time-cap-icon {
                    color: #a94442;
                }
            }
        }

        .main-group {
            padding: 0 0 6px 0;
        }
    }

    .selected-workout-type {
        font-size: 18px;
        font-weight: bold;
    }

    .routines-container {

        /*
        border-style: solid;
        border-width: 1px 0 1px 20px;
        border-image: url(http://opbokken.nu/meuk/curly.png) 1 20 stretch;
        padding-left: 0.5em;
            */
        .exercise-title {
            font-weight: bold;
            background: $gray-lighter;
        }

        .simple-routine-item {
            margin: 6px 0;
            padding: 2px 5px;
            border: 1px #5bc0de dashed;
            border-radius: 3px;

            .measure-value-input {}
        }
    }

    .inner-workouts {
        .workout:not(:first-child) {
            margin-top: 20px;
        }

        .workout {
            padding: 5px;

            .inner-workout-header {}
        }
    }

    /*.curly-bracket {
        content: ' ';
        background-image: url('../../../img/curly-bracket.svg');
        background-size: 28px 28px;
        height: 28px;
        width: 28px;
    }*/
}

.has-error {
    @extend .is-invalid;
}

.custom-action-menu-dropdown {
    min-width: auto;
    padding-top: 0;
    padding-bottom: 0;
}