<div id="wods-library-container">
</div>
<script>
</script>




@section scripts {
    <script src="~/dist/generated/persons-entry.js" asp-append-version="true"></script>
}

@section PageStyles {
    <link rel="stylesheet" href="~/dist/generated/persons-entry.css" asp-append-version="true" />
}
